
body {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
h2 {
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    color: #177d6b;
}

.category {
    background-color: #177d6b;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-top: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    border-radius: 99px;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.category:hover {
    background-color: #145e54;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.category span {
    transition: transform 0.3s;
}
.category.active span {
    transform: rotate(45deg);
}
.subcategory {
    display: none;
    background-color: #f0f5ec;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
}
.subcategory table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.subcategory th, .subcategory td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: left;
}
.subcategory tr:nth-child(even) {
    background-color: #f9f9f9;
}
@media (max-width: 768px) {
    .subcategory th, .subcategory td {
        padding: 10px;
        font-size: 16px;
    }
    .category {
        font-size: 20px;
    }
    h2 {
        font-size: 28px;
    }
}
@media (max-width: 480px) {
    .subcategory th, .subcategory td {
        padding: 8px;
        font-size: 14px;
    }
    .category {
        font-size: 18px;
    }
    h2 {
        font-size: 24px;
    }
}
.year-selector {
    text-align: center;
    margin: 20px 0;
}
.year-selector button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #619E90;
    color: #fff;
    border: none;
    border-radius: 99px;
    transition: background-color 0.3s;
}
.year-selector button:hover {
    background-color: #177d6b;
}

/* Change accordion header background color */
.accordion-button {
    background-color: #619E90 !important; /* Custom green */
    color: white !important; /* White text */

}



/* Change background of body when opened */
.accordion-collapse.show {
    background-color: #cfa738 !important; /* Light greenish background */
}

/* Hover effects */
.accordion-button:hover {
    background-color: #177d6b !important;
}

/* Remove default box shadow */
.accordion-button:focus {
    box-shadow: none !important;
}
/* Custom padding: 15px top, 15px left/right, 0px bottom */
.accordion-body {
    padding: 20px 20px 5px 20px !important;
}
h1{
    font-size: 50px;
}